.container {
    background-color: #f0f0f0; /* Light grey background */
    font-family: Arial, sans-serif; /* Use Arial font */
    color: #333; /* Dark grey text */
    padding: 20px; /* Padding around the content */
    margin: 20px auto; /* Center the container */
    max-width: 1200px; /* Maximum width of the container */
    border-radius: 5px; /* Rounded corners */
    height: 100%; /* Full height */
}

nav {
    background-color: #6c6868;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    color: #333; /* Dark grey text */
    font-size: 24px; /* 24px font size */
    margin-bottom: 20px; /* 20px bottom margin */
}

h2 {
    color: #333; /* Dark grey text */
    font-size: 18px; /* 18px font size */
    margin-bottom: 10px; /* 10px bottom margin */
}

p {
    margin-bottom: 10px; /* 10px bottom margin */
}

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* If there are too many images to fit on one line, it will move to the next line */
} 

.photo {
    border-radius: 50%;
    margin: 10px; /* 10px margin around each image */
    width: 400px; 
    height: 400px;
}

.photos div {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-right {
    text-align: right;
    opacity: 0.5; /* Make the footer less visible */
    font-size: 0.8em; /* Make the font smaller */
}

table {
    width: 100%; /* Make the table take up the full width of its parent */
    border-collapse: collapse; /* Collapse borders */
}

th, td {
    border: 1px solid #ddd; /* Add a border to the cells */
    padding: 8px; /* Add some padding */
}

th {
    background-color: #b0d6d5; /* Make the header cells green */
    color: white; /* White text */
}

.book-columns {
    display: flex;
    justify-content: space-between;
    column-count: 2;
}

.book-column {
    width: 45%; /* Adjust as needed */
}