.photo {
    border-radius: 50%; /* Rendre les images rondes */
    margin: 10px; /* Ajouter un peu d'espace entre les images */
    width: 300px; /* Définir la largeur des images */
    height: 300px; /* Définir la hauteur des images TODO il serait mieux de mettre auto pour garder les proportions mais pour cela il faut changer la première photo */
    filter: grayscale(100%); /* Rendre les images en noir et blanc */
}

.book-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.book-column {
    width: 45%; 
}

.book {
    height: 300px; 
    width: auto; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.acheter {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 5px; 
    margin-top: 10px; 
}

.acheter:hover {
    background-color: #09350b;
}

.price {
    margin-left: 10px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.book-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.book-card img {
    width: 100%;
}

.book-card h2 {
    margin: 10px 0;
    font-size: 1em;
}

.book-card p {
    color: #666;
}

.book-card a {
    display: inline-block;
    margin-top: 10px;
    color: #cd3838;
    text-decoration: none;
}