/* Ce fichier contient les styles de la page d'expériences */

table {
    width: 100%;
}

caption {
    font-size: 1.5em; /* Make the caption text larger */
    margin-bottom: 10px; /* Add some space between the caption and the table */
}

th, td {
    border: 1px solid #ddd; /* Add a border to the cells */
    padding: 8px; /* Add some padding */
}

th {
    background-color: #b44a4a; /* Make the header cells green */
    color: white; /* White text */
}

/* Lignes impaires */
tr:nth-child(even) {
    background-color: #efd1d1; 
}

/* Lignes paires */
tr:nth-child(odd) {
    background-color: #f7eaea; /* Dark gray background for odd rows */
}   

/* Lorsque la souris passe sur une ligne */
tr:hover {
    background-color: #ad75a4; 
}

.experience {
    width: 500px;
}

.duree {
    width: 300px;
}