/* Ce fichier contient les styles de la page d'accueil */

header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px; 
}

header h1 {
    color: #0b0b0b; 
    font-size: 24px;
}

header h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px; 
}

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Si les images ne tiennent pas sur une seule ligne, elles passeront à la ligne suivante */
} 

.photo {
    border-radius: 50%; /* Rendre les images rondes */
    margin: 10px; /* Ajouter un peu d'espace entre les images */
    width: 350px; /* Définir la largeur des images */
    height: 350px; /* Définir la hauteur des images TODO il serait mieux de mettre auto pour garder les proportions mais pour cela il faut changer la première photo */
    filter: grayscale(100%); /* Rendre les images en noir et blanc */
}

.photos div {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.photos img {

    transition : transform 0.3s ease;
}

.photos img:hover {
    transform : scale(1.1);
}

.presentation {
    background-color: #7492c2;
    border-radius: 2px;
    padding: 5px;
    color: #fff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px; 
}

/* Bouton "Où sommes-nous ?" */
.ou-sommes-nous {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: #222b89; 
    color: white; 
    padding: 5px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 5px; 
}

.ou-sommes-nous:hover {
    background-color: #7a1f25;
}

.ou-sommes-nous a {
    color: white;
    text-decoration: none;
}